drop  DATABASE if exists ChildrenDatabase
GO
CREATE DATABASE ChildrenDatabase
GO
USE [ChildrenDatabase]
GO
/****** Object:  Table [dbo].[ChildLabour]    Script Date: 2020/4/11 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildLabour](
	[LabourID] [int] IDENTITY(1,1) NOT NULL,
	[Total] [float] NULL,
	[Male] [float] NULL,
	[Female] [float] NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_ChildLabour] PRIMARY KEY CLUSTERED 
(
	[LabourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2020/4/11 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[RegionID] [int] NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[LDC] [nvarchar](50) NULL,
	[CountryPopulation] [int] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryWealth]    Script Date: 2020/4/11 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryWealth](
	[WealthID] [int] IDENTITY(1,1) NOT NULL,
	[LabourID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Urban] [float] NULL,
	[Rural] [float] NULL,
	[Poorest] [float] NULL,
	[Richest] [float] NULL,
	[UrbanPopulation] [int] NULL,
	[RuralPopulation] [int] NULL,
 CONSTRAINT [PK_CountryWealth] PRIMARY KEY CLUSTERED 
(
	[WealthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 2020/4/11 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[OutofSchoolRatePrimary] [float] NULL,
	[OutofSchoolLowerSecondary] [float] NULL,
	[OutofSchoolUpperSecondary] [float] NULL,
	[SchoolCompletionRatePrimary] [float] NULL,
	[SchoolCompletionRateLowerSecondary] [float] NULL,
	[SchoolCompletionRateUpperSecondary] [float] NULL,
	[NetAttendanceRateOneYearBeforePrimary] [float] NULL,
	[NetAttendanceRatePrimary] [float] NULL,
	[NetAttendanceRateLowerSecondary] [float] NULL,
	[NetAttendanceRateUpperSecondary] [float] NULL,
	[OutofSchoolRatePrimaryMale] [float] NULL,
	[OutofSchoolRatePrimaryFemale] [float] NULL,
	[OutofSchoolLowerSecondaryMale] [float] NULL,
	[OutofSchoolLowerSecondaryFemale] [float] NULL,
	[OutofSchoolUpperSecondaryMale] [float] NULL,
	[OutofSchoolUpperSecondaryFemale] [float] NULL,
	[SchoolCompletionRatePrimaryMale] [float] NULL,
	[SchoolCompletionRatePrimaryFemale] [float] NULL,
	[SchoolCompletionRateLowerSecondaryMale] [float] NULL,
	[SchoolCompletionRateLowerSecondaryFemale] [float] NULL,
	[SchoolCompletionRateUpperSecondaryMale] [float] NULL,
	[SchoolCompletionRateUpperSecondaryFemale] [float] NULL,
 CONSTRAINT [PK_Education] PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 2020/4/11 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Violence]    Script Date: 2020/4/11 14:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violence](
	[ViolenceID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[Total] [float] NULL,
	[Male] [float] NULL,
	[Female] [float] NULL,
 CONSTRAINT [PK_Violence] PRIMARY KEY CLUSTERED 
(
	[ViolenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChildLabour] ON 

INSERT [dbo].[ChildLabour] ([LabourID], [Total], [Male], [Female], [CountryID]) VALUES (1, 29.4, 34.1, 24.2, 1)
INSERT [dbo].[ChildLabour] ([LabourID], [Total], [Male], [Female], [CountryID]) VALUES (2, 5.1, 6.2, 3.9, 2)
INSERT [dbo].[ChildLabour] ([LabourID], [Total], [Male], [Female], [CountryID]) VALUES (3, 5, 5.5, 4.5, 3)
GO
SET IDENTITY_INSERT [dbo].[ChildLabour] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [RegionID], [CountryName], [LDC], [CountryPopulation]) VALUES (1, 8, N'Afghanistan', N'LDC', 6170913)
INSERT [dbo].[Country] ([CountryID], [RegionID], [CountryName], [LDC], [CountryPopulation]) VALUES (2, 2, N'Albania', NULL, 156833)
INSERT [dbo].[Country] ([CountryID], [RegionID], [CountryName], [LDC], [CountryPopulation]) VALUES (3, 6, N'Algeria', NULL, 4040275)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[CountryWealth] ON 

INSERT [dbo].[CountryWealth] ([WealthID], [LabourID], [CountryID], [Urban], [Rural], [Poorest], [Richest], [UrbanPopulation], [RuralPopulation]) VALUES (405, 1, 1, 0, 0, 0, 0, 52023, 149810)
INSERT [dbo].[CountryWealth] ([WealthID], [LabourID], [CountryID], [Urban], [Rural], [Poorest], [Richest], [UrbanPopulation], [RuralPopulation]) VALUES (406, 2, 2, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[CountryWealth] ([WealthID], [LabourID], [CountryID], [Urban], [Rural], [Poorest], [Richest], [UrbanPopulation], [RuralPopulation]) VALUES (407, 3, 3, 4.5, 5.9, 5.2, 3.3, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[CountryWealth] OFF
SET IDENTITY_INSERT [dbo].[Education] ON 

GO
SET IDENTITY_INSERT [dbo].[Education] OFF
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([RegionID], [RegionName]) VALUES (1, N'EAP')
INSERT [dbo].[Region] ([RegionID], [RegionName]) VALUES (2, N'ECA')
INSERT [dbo].[Region] ([RegionID], [RegionName]) VALUES (3, N'EECA')
SET IDENTITY_INSERT [dbo].[Region] OFF
SET IDENTITY_INSERT [dbo].[Violence] ON 

INSERT [dbo].[Violence] ([ViolenceID], [CountryID], [Total], [Male], [Female]) VALUES (1, 1, 74.4, 74.8, 74.1)
INSERT [dbo].[Violence] ([ViolenceID], [CountryID], [Total], [Male], [Female]) VALUES (2, 2, 47.5, 49.4, 45.4)
INSERT [dbo].[Violence] ([ViolenceID], [CountryID], [Total], [Male], [Female]) VALUES (3, 3, 86.3, 87.7, 84.9)
GO
SET IDENTITY_INSERT [dbo].[Violence] OFF
ALTER TABLE [dbo].[ChildLabour]  WITH CHECK ADD  CONSTRAINT [FK_ChildLabour] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[ChildLabour] CHECK CONSTRAINT [FK_ChildLabour]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country] FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country]
GO
ALTER TABLE [dbo].[CountryWealth]  WITH CHECK ADD  CONSTRAINT [FK_ChildLabour1] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[CountryWealth] CHECK CONSTRAINT [FK_ChildLabour1]
GO
ALTER TABLE [dbo].[CountryWealth]  WITH CHECK ADD  CONSTRAINT [FK_ChildLabour2] FOREIGN KEY([LabourID])
REFERENCES [dbo].[ChildLabour] ([LabourID])
GO
ALTER TABLE [dbo].[CountryWealth] CHECK CONSTRAINT [FK_ChildLabour2]
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD  CONSTRAINT [FK_Education] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Education] CHECK CONSTRAINT [FK_Education]
GO
ALTER TABLE [dbo].[Violence]  WITH CHECK ADD  CONSTRAINT [FK_Violence] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Violence] CHECK CONSTRAINT [FK_Violence]
GO
